[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sportsdb-backend = {path = "."}

[requires]
python_version = "3.6"

[scripts]
start="uvicorn --port 4000 sportsdb_backend.server:app"
